{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "airbnb-base",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": ["2", { "commonjs": true }],
    "import/prefer-default-export": "1",
    "camelcase":"off",
    "class-methods-use-this": "off"
  },
  "env": {
    "jest": true,
    "node": true
  }
}
